.app {
    background:#20224b;
  }
  /* Body CSS */
  .body-contain{
    /* background-color: #f8f8f8; */
    display: flex;
    width: 100%;
    justify-content: center;
    height: calc(100vh - 160px);
  }
  .container{
    display: flex;
    align-items: center;
  }
  /* Header CSS */
  .header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .Logo{
    width: 150px;
    height: 150px;
    padding-left: 50px;
  }
  .Logo-image{
    width: 150px;
  }
  .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active{
    background-color: #2803f8;
  }
  ul{
    display: flex;
    justify-content:space-between;
    text-align: center;
    gap: 40px;
    padding-right: 50px;
  }
  li{
    list-style: none;
  }
  a{
    display: block;
    text-decoration:none;
    color:white;
    font-size: 25px;
    padding:10px;
    margin:5px;
    cursor: pointer;
    border-radius: 10px;
  }
  /* a:not(.active):hover{
    background-color: #f5ab0c;
    border-radius: 10px;
    color: black;
    height: auto;
    width:auto; 
  } */
  .menu{
    display:none;
    position: absolute;
    top: 50px;
    right: 30px;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 32px;
  }
  .span{
    height: 6.4px;
    width: 100%;
    /* background-color: #fff; */
    border-radius: 3.2px;
  }
  
  /* Members CSS */
  .main-container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #232766; */
    /* width: 100%; */
    height: auto;
    border-radius: 40px;
    padding: 20px;
    margin: 40px;
  }
 
  .slide-container{
    background-color: #232766;
    width: fit-content;
    padding: 60px;
    margin: 0 auto;
    border-radius: 30px;
  }
  .contain{
    margin: 0 auto;
    width: fit-content;
    padding: 50px;
  }
  .slider{
    width: 1000px;
    display: flex;
    justify-content:space-around;
    flex-grow: wrap;
    overflow-x:scroll;
    transition: transform 0.5s ease-in-out;
    gap:10px;
  }
  .slider::-webkit-scrollbar{
    display: none !important;
  }
  .one-slider{
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 20px 20px;
  }
  .yellow-container{
    background-color: #f5ab0c;
    
    justify-content:space-between;
    align-items: center;
    display:flexbox;
    min-width: 100%; 
    height: 190px;
    border-radius: 20px 20px 0px 40px;
  }
  .image-container{
    width: 300px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    outline: 3px solid black;
    outline-offset: 5px;
  }
  .white-container{
    width: 300px;
    height: 150px;
    background-color: #fff;
    color: black;
    border-radius: 0px 20px 20px 20px;
    font-weight: 20px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  button{
    background-color: #232766;
    border:none;
  }
  button:hover{
    cursor: pointer;
  }
  .arrow{
    display:flex;
    color: #f5ab0c;
    background-color:#232766;
    width: 50px;
    height: 50px;
  }
  .arrow:hover{
    width: 60px;
    height: 60px;
  }
  
  /* Down CSS */
  .down-container{
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  
  
  
  @media (max-width: 575.98px) { 
    body{
      width: 100%;
      height: auto;
    }
    .app {
      background:#232766;
      width: 100%;
      height: auto;
    }
    /* button{
      display: none;
    } */
    .header-container{
      display:contents;
    }
    .header-menu{
      align-items: start;
    }
    .menu{
      display:flex; 
    }
    ul{
      width: 100%;
      flex-direction: column;
    }
    li{
      width: 100%;
      text-align: center;
    }
    a{
      margin: 0px 8px;
    }
    a:hover{
      width: 100%;
    }  
    .main-container {
      padding: 10px 0px;
    }
    .slide-container{
      border-radius: 20px;
      width: 220px;
    }
    .one-slider{
      width: 213px;
      height: auto;
    }
    .yellow-container{
      width: 213px;
      height: auto;
      display: flex;
      justify-content: center;
    }
    .white-container{
      width: 213px;
      height: auto;
    }
    /* .header-menu{
      flex-direction: column;
      align-items: center;
    } */
  }
  @media (max-width: 767.98px) { 
  
    .slide-container{
      gap: 10px;
    }
    ul{
      gap: 0px;
    }
  
  }
  
  @media (max-width: 991.98px) { 
    .slide-container{
      gap: 10px;
    }
    ol{
      gap: 0px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 1199.98px) {  
    .slide-container{
      gap: 10px;
    }
  }
  
  @media (max-width: 1399.98px) {  
    .slide-container{
      gap: 10px;
    }
   
  }
  
  
  
  /* 
  
  .container{
    padding: 10px 30px;
  }
  
  .user-slide-container{
    background-color: #313352;
    border-radius: 10px;
    width: 100%;
    min-height:400px ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
  }
  .slider{
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-x: scroll;
  }
  .image-container{
    min-width: 340px;
    height: 340px;
    border-radius: 20px;
  }
  .image{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  } */
  