.App {
  background-color: #1E203E;
  margin-top: 0;
  border: 1px solid #1E203E;
  width: fit-content;
}

body > #root > div {
  width: 100%;

}

.Header{
  list-style-type:none;
}

.Header a {
  text-decoration: none;
  color: #FFFFFF;
}
